section#about-1{
    width:100%;
    min-height: 900px; 
    background-size: cover;
    background-repeat:no-repeat;
    position: relative;
    z-index: 100;
    h2{
        padding-top:350px;
        font-weight: 500;
        font-size: 60px;
        line-height: 132.5%;
        color: #FFFFFF;
        text-align: right;
        position: relative;
        span{
            font-family: 'Crimson Pro';
            font-style: italic;
            font-weight: 500;
            font-size: 60px;
            line-height: 132.5%;
            color:#FDC800; 
            cursor: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.2409 3.99219C11.9985 3.99219 3.70703 12.342 3.70703 22.5581C3.70703 32.7743 11.9985 41.2223 22.2409 41.2223C32.4833 41.2223 40.6772 32.8726 40.6772 22.5581C40.6772 12.2437 32.3857 3.99219 22.2409 3.99219ZM10.4377 14.6995L16.5832 20.8882H8.19418C8.48682 18.5306 9.26719 16.4677 10.4377 14.6995ZM8.29172 25.2104H16.193L14.3396 27.0768L10.6328 30.8097C9.46228 29.1397 8.68191 27.2733 8.29172 25.2104ZM19.6071 36.6054C17.3636 36.2125 15.3151 35.2301 13.6568 33.9531L14.2421 33.3637L18.4366 29.1397L19.412 28.1574L19.6071 27.9609V36.6054ZM19.6071 17.7447L13.3641 11.4579C15.12 10.0826 17.266 9.00205 19.6071 8.60912V17.7447ZM23.9967 8.51088C30.3373 9.29675 35.4097 14.4048 36.2876 20.8882H23.9967V8.51088ZM23.9967 36.7036V28.2556L30.1422 34.4443C28.2888 35.6231 26.2403 36.4089 23.9967 36.7036ZM33.2637 31.3991L27.0207 25.1122H36.0925C35.7023 27.4698 34.6293 29.6309 33.2637 31.3991Z' fill='url(%23paint0_linear_122_38)'/%3E%3Cpath d='M22.2406 0.259766C9.94976 0.259766 0 10.2795 0 22.5586C0 34.8376 9.94976 44.9556 22.2406 44.9556C34.434 44.9556 44.4813 34.9359 44.4813 22.5586C44.3837 10.2795 34.434 0.259766 22.2406 0.259766ZM22.2406 42.598C11.2179 42.598 2.34112 33.6588 2.34112 22.5586C2.34112 11.5565 11.3154 2.51911 22.2406 2.51911C33.1659 2.51911 42.1401 11.5565 42.1401 22.5586C42.1401 33.6588 33.1659 42.598 22.2406 42.598Z' fill='url(%23paint1_linear_122_38)'/%3E%3Cpath d='M22.2409 3.99219C11.9985 3.99219 3.70703 12.342 3.70703 22.5581C3.70703 32.7743 11.9985 41.2223 22.2409 41.2223C32.4833 41.2223 40.6772 32.8726 40.6772 22.5581C40.6772 12.2437 32.3857 3.99219 22.2409 3.99219ZM10.4377 14.6995L16.5832 20.8882H8.19418C8.48682 18.5306 9.26719 16.4677 10.4377 14.6995ZM8.29172 25.2104H16.193L14.3396 27.0768L10.6328 30.8097C9.46228 29.1397 8.68191 27.2733 8.29172 25.2104ZM19.6071 36.6054C17.3636 36.2125 15.3151 35.2301 13.6568 33.9531L14.2421 33.3637L18.4366 29.1397L19.412 28.1574L19.6071 27.9609V36.6054ZM19.6071 17.7447L13.3641 11.4579C15.12 10.0826 17.266 9.00205 19.6071 8.60912V17.7447ZM23.9967 8.51088C30.3373 9.29675 35.4097 14.4048 36.2876 20.8882H23.9967V8.51088ZM23.9967 36.7036V28.2556L30.1422 34.4443C28.2888 35.6231 26.2403 36.4089 23.9967 36.7036ZM33.2637 31.3991L27.0207 25.1122H36.0925C35.7023 27.4698 34.6293 29.6309 33.2637 31.3991Z' fill='url(%23paint2_linear_122_38)'/%3E%3Cpath d='M22.2406 0.259766C9.94976 0.259766 0 10.2795 0 22.5586C0 34.8376 9.94976 44.9556 22.2406 44.9556C34.434 44.9556 44.4813 34.9359 44.4813 22.5586C44.3837 10.2795 34.434 0.259766 22.2406 0.259766ZM22.2406 42.598C11.2179 42.598 2.34112 33.6588 2.34112 22.5586C2.34112 11.5565 11.3154 2.51911 22.2406 2.51911C33.1659 2.51911 42.1401 11.5565 42.1401 22.5586C42.1401 33.6588 33.1659 42.598 22.2406 42.598Z' fill='url(%23paint3_linear_122_38)'/%3E%3Cpath d='M22.2409 3.99219C11.9985 3.99219 3.70703 12.342 3.70703 22.5581C3.70703 32.7743 11.9985 41.2223 22.2409 41.2223C32.4833 41.2223 40.6772 32.8726 40.6772 22.5581C40.6772 12.2437 32.3857 3.99219 22.2409 3.99219ZM10.4377 14.6995L16.5832 20.8882H8.19418C8.48682 18.5306 9.26719 16.4677 10.4377 14.6995ZM8.29172 25.2104H16.193L14.3396 27.0768L10.6328 30.8097C9.46228 29.1397 8.68191 27.2733 8.29172 25.2104ZM19.6071 36.6054C17.3636 36.2125 15.3151 35.2301 13.6568 33.9531L14.2421 33.3637L18.4366 29.1397L19.412 28.1574L19.6071 27.9609V36.6054ZM19.6071 17.7447L13.3641 11.4579C15.12 10.0826 17.266 9.00205 19.6071 8.60912V17.7447ZM23.9967 8.51088C30.3373 9.29675 35.4097 14.4048 36.2876 20.8882H23.9967V8.51088ZM23.9967 36.7036V28.2556L30.1422 34.4443C28.2888 35.6231 26.2403 36.4089 23.9967 36.7036ZM33.2637 31.3991L27.0207 25.1122H36.0925C35.7023 27.4698 34.6293 29.6309 33.2637 31.3991Z' fill='url(%23paint4_linear_122_38)'/%3E%3Cpath d='M22.2406 0.259766C9.94976 0.259766 0 10.2795 0 22.5586C0 34.8376 9.94976 44.9556 22.2406 44.9556C34.434 44.9556 44.4813 34.9359 44.4813 22.5586C44.3837 10.2795 34.434 0.259766 22.2406 0.259766ZM22.2406 42.598C11.2179 42.598 2.34112 33.6588 2.34112 22.5586C2.34112 11.5565 11.3154 2.51911 22.2406 2.51911C33.1659 2.51911 42.1401 11.5565 42.1401 22.5586C42.1401 33.6588 33.1659 42.598 22.2406 42.598Z' fill='url(%23paint5_linear_122_38)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_122_38' x1='0.000258825' y1='21.4727' x2='240.588' y2='21.4727' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FDC800'/%3E%3Cstop offset='1' stop-color='%23FFEB38'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_122_38' x1='0' y1='21.4731' x2='240.588' y2='21.4731' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FDC800'/%3E%3Cstop offset='1' stop-color='%23FFEB38'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_122_38' x1='0.000258825' y1='21.4727' x2='240.588' y2='21.4727' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FDC800'/%3E%3Cstop offset='1' stop-color='%23FFEB38'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_122_38' x1='0' y1='21.4731' x2='240.588' y2='21.4731' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FDC800'/%3E%3Cstop offset='1' stop-color='%23FFEB38'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear_122_38' x1='0.000258825' y1='21.4727' x2='240.588' y2='21.4727' gradientUnits='userSpaceOnUse'%3E%3Cstop/%3E%3Cstop offset='1' stop-color='%23FFEB38'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint5_linear_122_38' x1='0' y1='21.4731' x2='240.588' y2='21.4731' gradientUnits='userSpaceOnUse'%3E%3Cstop/%3E%3Cstop offset='1' stop-color='%23FFEB38'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A") 16 16, auto;
            animation: spin 2.8s forwards ease-out;
            &:hover{
                text-decoration: none;
            }
            
        }
        &::after{
            content:"";
            width: 420px;
            position: absolute;
            height:2px;
            background-color: white;
            right:0;
            bottom:-20px;
        }
    }
    p{
        padding-left:150px;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        text-align: right;
        color: #FFFFFF;
    }
    .decoration-about-image{
        width: 100%;
        height:500px;
        background-size: cover;
        margin-top: 200px; 
        display: flex;
        align-items: flex-end;
        p{
            padding-left:380px;
            padding-right:30px;
        }
    }  
}

section#about-2{
    position: relative;
    background-color: #F2E9E1;
    overflow-x: hidden;
    z-index: 90;
    #about-first-transform{
        height: 70vh;
        .loop-holder{
            display: flex;
            white-space: nowrap;
            overflow: hidden;
            width: 400%;
            .about-p-horizontal{
                text-indent: 30px;
                text-align: left;
                text-transform: uppercase;
                overflow-x: hidden;
                padding-top: 75px; 
                font-size: 120px;
                margin:0;
                color: black;
                font-weight: 400;
                animation: textLoop 40s linear infinite;
            }
        }
        @keyframes textLoop {
            0% {
                -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0)
            }
            100% {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0)
            }
        }
        .hr-after-loop{
            width: calc(100% - 280px);
            display: flex;
            margin-left: auto;
            margin-right: auto;
            height:2px;
            background-color: black;
            margin-top:20px; 
        }
        .content-section{
            padding:30px 140px;
            p{
                padding-right: 200px;
                padding-top:100px;
                font-weight: 400;
                line-height: 29px;
                font-size: 20px;
            }
        }
    }
}

section#about-3{
    background-color: #1c1c20;
    position: relative;
    z-index: 80;
    padding-bottom:150px;
    .slide-from-left-right-about{
        padding-top:270px;
        .image-horizontal-about-list{
            margin-top:-50px;
        }
        .text-horizontal-about-list{
            color: white;
            padding-top:50px;
        }
        .about-image-horizontal{
            width:100%;
            height:350px;
            object-fit: cover;
            img{
                width:100%;
                height:350px;
                object-fit: cover;
            }
        }
    }
}

section#about-4{
    padding-bottom: 100px;
    #splide-first-about{
        padding: 150px 0 50px;
        .first-element-p{
            font-family: 'Crimson Pro';
            font-style: italic;
            font-weight: 500;
            font-size: 80px;
            line-height: 89px;
            text-align: center;
        }
        .second-element-p{
            padding: 20px 140px; 
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 29px;
            text-align: center;
        }
        .splide__pagination{
            padding: 50px 0 0;
            li{
                margin: 0 5%;
                button{
                    border: 1px solid black;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color:#F2E9E1;
                    position: relative;
                    z-index: 10;
                    transition: all 0.7s ease; 
                }
                button.is-active{ 
                    background-color: black;
                }
            }
            &:after{
                content: "";
                width:80%;
                margin-left: auto;
                margin-right: auto;
                height: 2px;
                background-color: black;
                position: absolute;
                // bottom: 27%;
                z-index: 1;
                left:0;
                right: 0;
            }
        }
    }
    #splide-second-about{
        max-width: 300px;
        text-align: right;
        max-height: 250px;
        margin-bottom: 100px;
        position: relative;
        z-index: 10;
        margin-left: auto;
        img{
            max-width: 300px;
            text-align: right;
            max-height: 250px;
            object-fit: cover;
        }
    }
    #splide-third-about{
        background-color: #fff171;
        margin-left: -50px;
        z-index: 1;
        position: relative;
        width: 80%;
        display: flex;
        max-height: 300px;
        // opacity: 0.4;
        margin-top: -50px;
        
        .first-element-p{
            font-size: 26px;
            max-height: 300px;
            padding: 50px 50px 50px 100px;
        }
    }
}

@media screen and(max-width:1800px){
    section#about-2 #about-first-transform .loop-holder .about-p-horizontal{
        font-size: 100px; 
    }
}

@media screen and(max-width:1450px){
    section#about-2 #about-first-transform .loop-holder .about-p-horizontal{
        font-size: 80px; 
    }
}

@media screen and(max-width:1400px){
    section#about-1 h2{
        font-size: 45px;
    }
    section#about-1 .decoration-about-image p{
            padding-left:180px;
        }
}

@media screen and(max-width:1199px){
    section#about-1 h2{
        padding-top: 100px;
    }
    section#about-1 .decoration-about-image{
        height: 300px;
        width: 80%;
        margin-left: auto; 
        margin-right: auto; 
    }
    section#about-1{
        padding-bottom: 100px;
    }
    section#about-2 #about-first-transform{
        height: 55vh; 
    }
    section#about-3 .slide-from-left-right-about .image-horizontal-about-list{
        margin-top: 0;
    }
    #about-left-three{
        padding-top: 50px;
    }
    section#about-3 .slide-from-left-right-about .text-horizontal-about-list{
        padding-top: 100px;
    }
    section#about-4 #splide-third-about{
        width: 100%;
    }
}

@media screen and(max-width:1020px){
    section#about-3 .slide-from-left-right-about{
        padding-top: 100px;
    }
    section#about-2 #about-first-transform .content-section p{
        padding-right: 0;
        padding-top: 50px;
    }
    section#about-2 #about-first-transform{
        height: auto;
    }
    section#about-2 #about-first-transform .loop-holder .about-p-horizontal{
        font-size: 55px;
    }
    section#about-1 p{
        padding-top: 20px;
    }
    section#about-1 .decoration-about-image{
        margin-top: 50px; 
    }
    section#about-1{
        min-height: auto; 
    }
    section#about-2 #about-first-transform .loop-holder .about-p-horizontal{
        padding-top: 30px;
    }
    section#about-4 #splide-first-about{
        padding: 50px 0;
    }
    section#about-4 #splide-third-about{
        margin-top: -25px;
    }
}

@media screen and(max-width:850px){
    section#about-1 .decoration-about-image p{
        padding-left: 30px;
    } 
    section#about-4 #splide-first-about .second-element-p{
        padding: 20px 40px;
    }
    section#about-4 #splide-third-about .first-element-p{
        padding: 40px ;
    }
    section#about-2 #about-first-transform .content-section{
        padding: 40px 20px;
    }
}

@media screen and(max-width:750px){
    section#about-1 h2, section#about-1 h2 span{
        font-size: 35px;
    } 
    section#about-2 #about-first-transform .loop-holder .about-p-horizontal{
        font-size: 35px;
    }
    section#about-4 #splide-first-about .splide__pagination li button{
        width: 30px;
        height: 30px;
    }
}

@media screen and(max-width:550px){
    section#about-4 #splide-third-about{
        margin-left: 0;
    }
    section#about-4 #splide-second-about{
        text-align: center; 
        margin-right: auto;
        margin-bottom: 0;
    }
    section#about-4 #splide-first-about .splide__pagination li{
        margin: 0 2%;
    }
    section#about-4 #splide-first-about .splide__pagination:after{
        width: 50%;
    }
    section#about-4 #splide-first-about .splide__pagination li button{
        width: 20px;
        height: 20px;
    }
    section#about-4 #splide-first-about .splide__pagination{
        padding-top: 20px;
    }
    section#about-4 #splide-third-about, section#about-4 #splide-third-about .first-element-p{
        max-height: 100%;
    }
    section#about-2 #about-first-transform .hr-after-loop{
        width: 50%;
    }
    section#about-1 .decoration-about-image{
        height: auto;
    }
}

@media screen and(max-width:450px){
    section#about-1 .decoration-about-image{ 
        width: 100%;
    }
    section#about-1 p{
        padding-left: 15px;
    }
    section#about-1 h2, section#about-1 h2 span{
        font-size: 30px;
    }
    section#about-1 p, section#about-2 #about-first-transform .content-section p {
        font-size: 19px;
    }
    section#about-3{
        padding-bottom: 50px;
    }
    section#about-4 #splide-first-about .second-element-p{
        padding: 10px;
        font-size: 19px;
    }
    section#about-4 #splide-first-about .first-element-p{
        font-size: 50px;
    }
}