#mobile-header {
  height:100%;
  width:100vw;
  transition: all 0.5s ease;
  z-index: 99999999999999999;
  position: absolute;
  display: none;
  // display: flex !important;
  align-items: center;
  background: rgba( 0, 0, 0, 0.99 ) !important;
  justify-content: flex-start;
  backdrop-filter: blur( 20px );
  flex-direction: column;
  .mobile-container-stuff {
    padding: 30px;
    display: flex;
    position: sticky;
    flex-flow: column;
    width: 100%;
    // height: 100vh;
    top: 0;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    #menu-menu-1{
      padding-top: 70px;
      text-align: right;
      align-items: flex-end !important;
      display: flex;
      flex-direction: column;
      align-content: flex-end;
      width: 100%;
      li{
        padding: 5px 0;
        text-align: right;
        a{
          text-align: right;
          font-weight: 400;
          font-size: 25px;
          line-height: 36px;
          color: #FFFFFF;
          transition: all 0.2s ease;
          span{
            padding-right: 10px;
            font-family: 'Jost';
            font-style: normal;
            font-weight: 300;
            font-size: 15px;
            line-height: 22px;
            color: #868686;
          }
          &:hover{
            text-decoration: none;
            opacity: 0.7;
          }
        }
      }
    }
    .logo-container{
      width: 100%;
    }
    .media-container{
      display: flex;
      width: 100%;
      border-top: 1px solid white;
      flex-wrap: wrap;
      gap:30px;
      padding: 20px;
      margin-top: 30px;
      .media-single{
        p{
          font-weight: 300;
          font-size: 15px;
          line-height: 22px;
          color: #868686;
        }
        a{
          font-weight: 400;
          font-size: 25px;
          line-height: 36px;
          color: #FFFFFF;
          text-transform: uppercase;
        }
      }
    }
  }
-webkit-backdrop-filter: blur( 20px );
  opacity: 0;
  pointer-events: none;
  // display: unset;
  #mobilehamburger {
    margin-left: auto;
    position: sticky;
    padding: 0;
    height: 80px;
    right: 0;
    transition: all 0.5s ease;
    margin-right:30px;
    margin-top: -60px;
    .hamburger-box{
      width: 80px;
      margin-top: 30px;
      height: 80px;
    }
  }
  &.visible {
    opacity: 1;
    pointer-events: all; 

  }
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after{
    background-color: #fff;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    width:80px; 
  }
}

.header-holder .container-logo-hidden-scroll{
	z-index: 2;
	position: relative;
}

.header-holder {
  margin-top: -270px;
  height: 270px;
  position: relative; 
  // z-index: 9999;
  width:100%; 
  .container-logo-hidden-scroll{
    background-color: #F2E9E1; 
    padding: 25px 0px 80px;
    text-align: center;
  }
  .logo-container{
    position: fixed;
    padding: 0 60px 0;
    top: 65px; 
    z-index: 9999999;
  }
  header {
    &.letsgo {
      height: 100vh;
    }
    width: 100%;
  
    z-index: 99999;
    top: 0;
    background: #F2E9E1;;
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    height: 94px;
    left: 0;
    .header-container {
      height:100%;
      width:100%;
      padding: 0px 60px;
      display: flex;
      align-items: center;
      ul {
        list-style-type: none;
        display: flex;
        height: 100%;
        align-items: center;
        margin: 0;
        gap: 110px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        li {
          display: inline;
        &.current_page_item {
          a {
            color: #000 !important;
            font-weight: 600;
            span{
              font-weight: 500;
            }
            &:after {
              width: 100%;
            }
          }
        }
          a {
            color: #000;
            font-size: 20px;
            font-weight: 400;
            text-decoration: none;
            position: relative;
            display: flex;
            flex-direction: column;
            transition: all 0.2s ease;
            &:hover {
              opacity: 0.6;
              color: #000 !important;
            }
            span{
              font-size: 15px;
              line-height: 22px;
              font-weight: 300;
              color: #868686; 
            }
          }
          svg {
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
}

button.hamburger{
  display: none;
}

.header-margin{
  position: relative;
  top:0;
  height:270px;
  z-index: -10;
  width: 100%;
}
.container-wrap-header{
  position: relative;
}

#site-header.sticked {
  position: fixed; 
  margin-bottom:100px; 
  transition: all 0.4s ease;
  pointer-events: all !important; 
  opacity: 1 !important;
  transform: translate3d(0,0,0) !important;
  height:94px; 
  background:#F2E9E1;
  box-shadow: 0 3px 12px 0 rgba( 31, 38, 135, 0.12 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@media screen and (max-width:1100px) {
  header .header-container ul li a {
    font-size: 15px;
  }
  #mobile-header{
    display: flex;
  }
}

@media screen and(max-width:1020px){
  header .header-container ul {
    display: none !important;
  }
  .header-holder header .header-container{
    justify-content: flex-end;
  }
  button.hamburger {
    display: unset !important;
  }
}


@media screen and(max-width:1300px){
  .header-holder header .header-container ul{
    gap:60px;
  } 
}

@media screen and(max-width:1020px){
  #site-header.sticked,.header-holder .logo-container{
    position: sticky;
  }
  .header-holder, .container-wrap-header{
    position: absolute;
    height: 95%;
    width: 100%;
  }
  .header-holder .container-logo-hidden-scroll{
    padding: 25px 0px 40px;
  }
}

 @media screen and(max-width:500px){
  .media-container{
    display: none !important;
  }
  .header-holder header .header-container{
    padding: 0 20px;
  }
  .header-holder .logo-container{
    padding: 0 20px 0;
    top:20px; 
    width: 50%;
  }
 }