section#offer-archive-1{
    height: 700px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    position: relative;
    z-index: 20;
    h2{
        color: white;
        font-weight: 500;
        font-size: 50px;
        text-align: right;
        position: relative; 
        padding-top:200px;
        padding-right: 50px;
        span{
            font-family: 'Crimson Pro';
            font-style: italic;
            font-weight: 500;
            color: #FDC800; 
        }
        &:after{
            content:"";
            width:50%;
            right: 50px;
            bottom: -10px;
            position: absolute;
            height:2px;
            background-color: #fff; 
        }
    }
    p{
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        text-align: right;
        color: #FFFFFF;
        padding-left:200px;
        padding-top:20px;
        padding-right: 50px;
    }
    .container-yt{
        display: flex;
        height: 100%;
        align-items: center; 
        a{ 
            display: flex;
            text-decoration: none;
            align-items: center;
            transition:all 0.3s ease;
            &:hover{
                opacity: 0.6;
            }
        p{
            font-family: 'Crimson Pro';
            font-style: italic;
            font-weight: 500;
            font-size: 60px;
            line-height: 132.5%;
            text-align: center;
            color: #FDC800;
            padding: 10px;
        }
        }
    }
}

section#offer-archive-2{
    min-height: 100vh;
    .container-archive-2{
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        z-index: 10;
        .container-content-offer-scale{
          width: 100%;
          height: 400vh;
          position: relative;
          .container-offer-scale-sticky{
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .element-scale{
              transform: scale(1);
              h2{
                font-family: 'Crimson Pro';
                font-style: normal;
                font-weight: 700;
                font-size: 60px;
                line-height: 67px;
                color: #000;
                text-align: center;
                // padding-top: 200px;
                span{
                    color: #FDC800;
                }
            }
            }
           .container-offer-scale-text{
            width:60%;
            font-weight: 400;
            font-size: 20px;
            line-height: 29px;
            position: absolute;
            padding: 30px;
            border:1px solid black;
            h3{
              font-family: 'Crimson Pro';
              font-style: normal;
              font-weight: 700;
              font-size:35px;
            }
            ul{
              li{
                padding: 10px 0;
                a{
                  color: black;
                  opacity:1;
                  transition: all 0.2s ease;
                  &:hover{
                    opacity:0.7;
                    text-decoration: none;
                  }
                }
              }
            }
           }
          }
           
        }
    }
}

section#offer-archive-3{
    // background-color: #1c1c20;
    color: white;
    min-height: 100vh;
    .offer-webpage-transform{
      background-color: #1c1c20;
      height: 100vh;
    .row{
      align-content: center;
    .container-webpage-offer{
      border: 1px solid white;
      margin: 50px 0;
      padding: 100px 20px;
      min-height: 70vh;
      display:flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      h2{
        font-family: 'Crimson Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 67px;
        color: #fff; 
        text-align: center;
        border: 1px solid white;
        padding: 10px;
        // padding-top: 200px;
        span{
            color: #FDC800;
        }
    }
    .container-webpage-p{
      border: 1px solid white;
      padding:20px;font-weight: 400;
      font-size: 20px;
      line-height: 29px;
      position: absolute;
      padding: 30px;
    }
    .webpage-bg{
      background-color: $background-color;
      color: $black;
    }
    .container-webpage-list{
      border: 1px solid white;
      padding:20px;
      h3{
        font-family: 'Crimson Pro';
        font-style: normal;
        font-weight: 700;
        font-size:35px;
      }
      ul{
        li{
          padding: 10px 0;
          a{
            color: #fff;
            opacity:1;
            transition: all 0.2s ease;
            &:hover{
              opacity:0.7;
              text-decoration: none;
            }
          }
        }
      }
    }
    .container-classic-button{
      border: 1px solid white;
      padding:30px;
      .button-offer-cont{
        outline: 1px solid white;
        a{
        color: white !important;
      }
      }
    }
    }
}       
} 
}

section#offer-archive-4{
  min-height: 200vh;
  #offer-sticky-2{
    min-height: 200vh;
  .offer-sticky-socialmedia{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    h2{
      font-family: 'Crimson Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 67px;
        color: #000; 
        text-align: center;
        padding: 10px;
        padding-bottom: 100px;
        // padding-top: 200px;
        span{
            color: #FDC800;
        }
    }
    h3{
      font-family: 'Crimson Pro';
      font-style: normal;
      font-weight: 700;
      font-size:35px;
    }
    p{
      font-weight: 400;
      font-size: 20px;
      line-height: 29px;
      padding: 30px;
      border:1px solid black;
    }
    .col-xl-3{
      .container-socialmedia-offer{
      text-align: center;
      padding: 30px;
      // width: 50%; 
      border:2px solid #1c1c20;
      color: #fff;
      background-color: #1c1c20;
      transition: all 0.3s ease;
      
      &:hover{
        background-color: #FDC800;
        color: #1c1c20;
      }
    }
  }

  .floating-1{
    animation: floating 3s infinite ease-in-out;
    position: relative;
  }
  .floating-2{
    animation: floating 2.4s infinite ease-in-out;
    position: relative;
  }
  .floating-3{
    animation: floating 3.2s infinite ease-in-out;
    position: relative;
  }
  .floating-4{
    animation: floating 3.7s infinite ease-in-out;
    position: relative;
  }
  .floating-5{
    animation: floating 2.1s infinite ease-in-out;
    position: relative;
  }
  .floating-6{
    animation: floating 4.3s infinite ease-in-out;
    position: relative;
  }
  @keyframes floating {
    from { transform: translateY(0px); }
    65%  { transform: translateY(20px); }
    to   { transform: translateY(-0px); }
  }
  .scale-social{
    transform: scale(1);
  }
  }
}
}

section#offer-archive-5{
  min-height: 100vh;
  background-color: #1c1c20;
  color: #fff;
  padding-bottom: 80px;
  overflow: hidden;
  .moving-text-container{
    width: 230%;
      overflow: hidden;
      align-items: center;
      align-content: center;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      border-bottom: 2px solid white;
      border-top: 2px solid white;
      // border-right: 2px solid black;
      transform: translate(-50%, 0);
      height: 190px;
      p{
          text-transform: uppercase;
          overflow: hidden;
          padding-top: 0px; 
          font-size: 96px;
          margin:0;
          color: #fff;
          font-weight: 400;
          width:auto;
          display: flex;
          animation: textLoopOffer 20s linear infinite;
          text-indent: 30px; 
      }
      @keyframes textLoopOffer {
      0% {
          -webkit-transform: translate3d(100%, 0%, 0);
          transform: translate3d(100%, 0%, 0)
      }
      100% {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0)
      }
      }
  }
  .moving-text-container-2{
    width: 230%;
      overflow: hidden;
      align-items: center;
      align-content: center;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      border-bottom: 2px solid white;
      border-top: 2px solid white;
      transform: translate(-10%, 0);
      height: 190px;
      p{
          text-transform: uppercase;
          overflow: hidden;
          padding-top: 0px; 
          font-size: 96px;
          margin:0;
          color: #fff;
          font-weight: 400;
          width:auto;
          display: flex;
          animation: textLoopOfferTwo 20s linear infinite;
          text-indent: 30px; 
      }
      @keyframes textLoopOfferTwo {
      0% {
          -webkit-transform: translate3d(-100%, 0%, 0);
          transform: translate3d(-100%, 0%, 0)
      }
      100% {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0)
      }
      }
  }
  .copy-offer{
    padding: 100px 0 ;
  h2{
    font-family: 'Crimson Pro';
      font-style: normal;
      font-weight: 700;
      font-size: 60px;
      line-height: 67px;
      color: #fff; 
      text-align: center;
      padding: 40px;
      // padding-top: 200px;
      span{
          color: #FDC800;
      }
  }
  p{
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    padding: 30px;
    border:1px solid #fff;
  }
  .container-classic-button{
    padding:30px;
    .button-offer-cont{
      outline: 1px solid white;
      a{
        color: white !important;
      }
    }
  }
}
}

@media screen and(max-width:1820px){
  section#offer-archive-5 .moving-text-container-2 p, section#offer-archive-5 .moving-text-container p{
    font-size: 86px; 
  } 
}

@media screen and(max-width:1570px){
  section#offer-archive-5 .moving-text-container-2 p, section#offer-archive-5 .moving-text-container p{
    font-size: 66px; 
  } 
}

@media screen and(max-width:1420px){
  section#offer-archive-1 h2{
    padding-top: 150px;
    font-size: 45px;
  }
  section#offer-archive-1 p{
    padding: 20px; 
  }
}

@media screen and(max-width:1350px){
  section#offer-archive-2 .container-archive-2 .container-content-offer-scale .container-offer-scale-sticky .element-scale h2{
    position: relative;
    left: 10%;
  }
}

@media screen and(max-width:1250px){
  section#offer-archive-1 h2{
    padding-top: 100px;
    font-size: 40px;
  }
  section#offer-archive-1 p{
    padding: 20px; 
  }
  section#offer-archive-1 .container-yt a svg{
    width: 250px; 
  }
}

@media screen and(max-width:1210px){
  section#offer-archive-5 .moving-text-container, section#offer-archive-5 .moving-text-container-2{
    height: 120px; 
  }
  section#offer-archive-5 .moving-text-container, section#offer-archive-5 .moving-text-container-2{
    width: 260%;
  }
  section#offer-archive-5 .copy-offer{
    padding: 40px 0;
  }
  section#offer-archive-5 .copy-offer h2{
    padding: 20px;
  }
  section#offer-archive-5 .copy-offer p{
    margin: 0;
  }
  section#offer-archive-5 .copy-offer .container-classic-button{
    padding: 10px;
    padding-bottom: 50px;
  }
}

@media screen and(max-width:1199px){
  section#offer-archive-1 .container-yt a svg{
    width: 200px; 
  }
  section#offer-archive-1 .container-yt a p{
    font-size: 50px;
  }
  section#offer-archive-1{
    height: 550px;
  }
  section#offer-archive-4 #offer-sticky-2 .offer-sticky-socialmedia .scale-social{
    padding: 30px 0; 
  }
  section#offer-archive-4 #offer-sticky-2 .offer-sticky-socialmedia h2{
    font-size: 40px;
    padding-bottom: 20px;
  }
}

@media screen and(max-width:1070px){
  section#offer-archive-5 .moving-text-container, section#offer-archive-5 .moving-text-container-2{
    width: 280%;
  }
} 

@media screen and(max-width:1020px){
  section#offer-archive-1 h2{
    padding-right: 15px;
  }
  section#offer-archive-2 .container-archive-2 .container-content-offer-scale{
    height: auto;
  }
  section#offer-archive-2 .container-archive-2 .container-content-offer-scale .container-offer-scale-sticky{
    height: auto;
    align-items: center;
    flex-direction: row;
  }
  section#offer-archive-2 .container-archive-2 .container-content-offer-scale .container-offer-scale-sticky .container-offer-scale-text{
    position: relative;
    width: 100%;
  }
  section#offer-archive-2 .container-archive-2 .container-content-offer-scale .container-offer-scale-sticky .element-scale h2{
    position: relative;
    transform: rotate(-90deg);
  }
  section#offer-archive-2{
    min-height: auto;
    padding: 60px 0; 
  }
  section#offer-archive-4 #offer-sticky-2, section#offer-archive-4{
    min-height: auto;
  }
  section#offer-archive-3 .offer-webpage-transform{
    height: auto;
  }
  section#offer-archive-3 .offer-webpage-transform .row .container-webpage-offer, section#offer-archive-3{
    min-height: auto;
  }
  section#offer-archive-3 .offer-webpage-transform .row .container-webpage-offer .container-webpage-p{
    position: relative;
    margin: 10px 0; 
  }
  section#offer-archive-3 .offer-webpage-transform .row .container-webpage-offer .container-webpage-list{
    margin: 10px 0;
  }
}

@media screen and(max-width:997px){
  section#offer-archive-1 h2{
    padding-right: 15px;
    padding-left: 15px;
  }
  section#offer-archive-1 p{
    padding: 15px;
  }
  section#offer-archive-1 .container-yt {
    justify-content: center;
  }
  section#offer-archive-5 .moving-text-container, section#offer-archive-5 .moving-text-container-2{
    width: 310%;
  }
}

@media screen and(max-width:900px){
  section#offer-archive-5 .moving-text-container-2 p, section#offer-archive-5 .moving-text-container p{
    font-size: 50px;
  }
}

@media screen and(max-width:800px){
  section#offer-archive-2 .container-archive-2 .container-content-offer-scale .container-offer-scale-sticky{
    flex-direction: column;
  }
  section#offer-archive-2 .container-archive-2 .container-content-offer-scale .container-offer-scale-sticky .element-scale h2{
    transform: rotate(0);
    left: 0;
  }
}

@media screen and(max-width:700px){
  section#offer-archive-1{
    height: auto;
  }
  section#offer-archive-3 .offer-webpage-transform .row .container-webpage-offer h2, section#offer-archive-2 .container-archive-2 .container-content-offer-scale .container-offer-scale-sticky .element-scale h2{
    font-size: 50px;
  }
  section#offer-archive-4 #offer-sticky-2 .offer-sticky-socialmedia h3{
    font-size: 30px;
  }
  section#offer-archive-4 #offer-sticky-2 .offer-sticky-socialmedia .scale-social{
    padding: 50px 0;
  }
  section#offer-archive-4 #offer-sticky-2 .offer-sticky-socialmedia{
    height: auto;
  }
  section#offer-archive-5 .moving-text-container, section#offer-archive-5 .moving-text-container-2{
    width: 350%;
  }
}

@media screen and(max-width:600px){
  section#offer-archive-1{
    font-size: 35px; 
  }
  section#offer-archive-5 .moving-text-container, section#offer-archive-5 .moving-text-container-2{
    width: 400%;
  }
  section#offer-archive-4 #offer-sticky-2, section#offer-archive-4{
    padding: 0 15px;
  }
  section#offer-archive-5 .copy-offer{
    padding: 30px 15px;
  }
}

@media screen and(max-width:550px){
  section#offer-archive-5 .moving-text-container-2 p, section#offer-archive-5 .moving-text-container p{
    font-size: 40px;
  }
}

@media screen and(max-width:500px){
  section#offer-archive-3 .offer-webpage-transform .row .container-webpage-offer h2, section#offer-archive-2 .container-archive-2 .container-content-offer-scale .container-offer-scale-sticky .element-scale h2, section#offer-archive-5 .copy-offer h2{
    font-size: 35px; 
  }
  section#offer-archive-2 .container-archive-2 .container-content-offer-scale .container-offer-scale-sticky .container-offer-scale-text h3, section#offer-archive-3 .offer-webpage-transform .row .container-webpage-offer .container-webpage-list h3{
    font-size: 28px;
  }
  section#offer-archive-4 #offer-sticky-2 .offer-sticky-socialmedia .scale-social{
    padding: 20px 0 ;
  }
  section#offer-archive-3 .offer-webpage-transform .row .container-webpage-offer .container-webpage-p, section#offer-archive-4 #offer-sticky-2 .offer-sticky-socialmedia p, section#offer-archive-5 .copy-offer p{
    padding:20px;
  }
}

@media screen and(max-width:450px){
  section#offer-archive-1 h2, section#offer-archive-1 .container-yt a p{
    font-size: 30px;
  }
  section#offer-archive-3 .offer-webpage-transform .row .container-webpage-offer{
    padding: 20px;
  }
  section#offer-archive-5 .moving-text-container, section#offer-archive-5 .moving-text-container-2{
    height: 70px;
    width: 450%;
  }
}

@media screen and(max-width:400px){
  section#offer-archive-4 #offer-sticky-2 .offer-sticky-socialmedia .col-xl-3 .container-socialmedia-offer{
    padding: 10px; 
  }
  section#offer-archive-5 .moving-text-container, section#offer-archive-5 .moving-text-container-2{
    width: 500%;
  }
  section#offer-archive-2 .container-archive-2 .container-content-offer-scale .container-offer-scale-sticky .container-offer-scale-text{
    padding: 10px;
  }
}

@media screen and(max-width:350px){
  section#offer-archive-1 h2{
    padding-left: 0;
    padding-right: 0;
  }
  section#offer-archive-1 .container-yt a svg{
    width: 150px; 
  }
  section#offer-archive-3 .offer-webpage-transform .row .container-webpage-offer h2, section#offer-archive-2 .container-archive-2 .container-content-offer-scale .container-offer-scale-sticky .element-scale h2, section#offer-archive-5 .copy-offer h2{
    font-size: 30px;
    line-height: 41px;
  }
  section#offer-archive-3 .offer-webpage-transform .row .container-webpage-offer .container-webpage-p, section#offer-archive-4 #offer-sticky-2 .offer-sticky-socialmedia p, section#offer-archive-5 .copy-offer p{
    padding: 10px;
  }
  section#offer-archive-5 .moving-text-container-2 p, section#offer-archive-5 .moving-text-container p{
    font-size: 35px;
  }
}