@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300;400;500;600;700;800;900&display=swap');

$color-main: #FDC800;

body{
    overflow-x: hidden; 
    background-color: #F2E9E1;
    font-family: 'Jost', sans-serif;
    section{
        height: 100%;
        .container-fluid{
            padding:0 130px;
            height: 100%;
            .row{
                height: 100%;
            }
        }
    }   
}

body p::selection , h1::selection , h2::selection , h3::selection , h4::selection , h5::selection , h6::selection, a::selection {
  color:black;
  background: #FDC80099;
}
body p::-moz-selection, h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, a::-moz-selection { /* dla Firefox */
    color: black;
    background: #FDC800;
}

/* class repear scrolling bug*/

.repear{
    opacity: 0;
    transition: opacity .1s linear;
  }
  .repear.is-inview{
    opacity: 1;
  }

  [data-scroll-container], [data-scroll-section] { 
    transform-style: preserve-3d !important; 
    will-change: transform !important; 
    }

    [data-scroll-container] {
    perspective: 999999px !important;
  }

  html.has-scroll-smooth {
    backface-visibility: hidden;
    transform: translateZ(0);
   }
   
   [data-scroll-container] {
    perspective: 1px;
   }
   
   [data-scroll-container],
   [data-scroll-section] {
    transform-style: preserve-3d;
    will-change: transform;
   }

@media screen and(max-width:1300px){
  body section .container-fluid{
    padding: 0 50px;
  } 
}

@media screen and(max-width:620px){
  body section .container-fluid{
    padding: 0 20px;
  } 
}