
.submit-container{
    position: relative;
    width:100%;
    .submit-bg{
        height: 50px;
        width:155px;
        background-color: #FFEB38;
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        transform: translate( 10px, 10px);
        transition: all 0.3s ease;
    } 
    input[type=submit]{
        font-family: 'Crimson Pro'; 
        font-style: normal;
        font-weight: 700;
        color: #000000;
        font-size: 30px;
        line-height: 33px;
        text-align: center;
        padding-right:50px;
        width:155px;
        border: 1px solid black;
        height: 50px;
        background-color: transparent;
        position: relative;
        z-index: 100;
        transition: padding-right 0.2s ease;
        &:hover{
            padding-right:0px;
        }
        &:hover ~ .submit-bg {
            transform: translate( 0px, 0px);
        }
    }  
}

.submit-container-footer{
    position: relative;
    text-align: center;
    width:100%;
    .wpcf7-spinner{
        display: none
    }
    .submit-bg{
        height: 50px;
        width:155px;
        background-color: #FFEB38;
        position: absolute;
        z-index: 10;
        right: 0%;
        left: 30%;
        top: 0;
        transform: translate( 10px, 10px);
        transition: all 0.3s ease;
    } 
    input[type=submit]{
        font-family: 'Crimson Pro'; 
        font-style: normal;
        font-weight: 700;
        color: #fff;
        font-size: 30px;
        line-height: 33px;
        text-align: center;
        padding-right:50px;
        width:155px;
        border: 1px solid white;
        height: 50px;
        background-color: transparent;
        position: relative;
        z-index: 100;
        transition: padding-right 0.2s ease;
        &:hover{
            padding-right:0px;
        }
        &:hover ~ .submit-bg {
            transform: translate( 0px, 0px);
        }
    }
    input[type=submit][disabled] ~ .submit-bg, input[type=submit][disabled]{
        opacity: 0.1;
        &:hover{
            padding-right:50px;
            transform: translate( 10px, 10px); 
        }
    }  
}


.submit-container-contact{
    position: relative;
    text-align: center;
    width:100%;
    .wpcf7-spinner{
        display: none
    }
    .submit-bg{
        height: 50px;
        width:155px;
        background-color: #FFEB38;
        position: absolute;
        z-index: 10;
        margin-left: -155px;
        margin-right: auto;
        transform: translate( 10px, 10px);
        transition: all 0.3s ease;
    } 
    input[type=submit]{
        font-family: 'Crimson Pro'; 
        font-style: normal;
        font-weight: 700;
        color: #fff;
        font-size: 30px;
        line-height: 33px;
        text-align: center;
        padding-right:50px;
        width:155px;
        border: 1px solid white;
        height: 50px;
        background-color: transparent;
        position: relative;
        z-index: 100;
        transition: padding-right 0.2s ease;
        &:hover{
            padding-right:0px;
        }
        &:hover ~ .submit-bg {
            transform: translate( 0px, 0px);
        }
    }
    input[type=submit][disabled] ~ .submit-bg, input[type=submit][disabled]{
        opacity: 0.1;
        &:hover{
            padding-right:50px;
            transform: translate( 10px, 10px); 
        }
    }  
}